* {
  /* box-sizing: border-box; */
  font-family: 'Space Mono', monospace;
}

body {
  background-color: #e6e6e6;
  /* justify-items: center; */
  /* justify-content: center; */
}
/* add div block */

h1 {
  color: #0e2c54;
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  margin: 20px 0 10px 0;
}

#lineOne {
  font-size: 14px;
  text-align: center;
  margin: 10px 0px 0px 0px;
}

#lineTwo {
  font-size: 10px;
  text-align: center;
  margin: 10px 0 10px 0;
  padding-bottom: 10px;
}
